<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="AcePlayerPath" value="C:\Users\dron\AppData\Roaming\ACEStream\player\ace_player.exe"/>
    <add key="AceContentIdList" value="http://list.satfor.pro/tv-m3u8/203469-targitaj-FakHGbTyCZ"/>
    <add key="UseVLC" value="true"/>
    <add key="AcePort" value="6878"/>
    <add key="VLCPath" value="C:\Program Files (x86)\VideoLAN\VLC\vlc.exe"/>
    <add key="AceEnginePath" value="C:\Users\dron\AppData\Roaming\ACEStream\engine\ace_engine.exe"/>
    <add key="FileName" value="playlist.m3u"/>
    <add key="ScreenNumber" value="1"/>
    <add key="UseEdem" value="true"/>
    <add key="KeyBoardName" value="VID_2319&amp;PID_0014"/>
  </appSettings>
</configuration>